.heartActionVideo-wrapper {
  display: none;
  transform: translateX(-50%) translateY(-50%);
}
.show-heart {
  display: block;
  z-index: 10000;
}

.hide-heart {
  display: none;
}

.heartActionVideo-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  animation: heartAction 1.5s ease-in-out;
}

@keyframes heartAction {
  0% {
    transform: scale(100%);
  }
  15% {
    transform: scale(85%);
  }
  30% {
    transform: scale(100%);
  }
  60% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(160%);
    opacity: 0;
  }
}
