* {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 20%;
  min-height: 500px;
}

.container-sidebar {
  width: 100%;
}

.me-auto {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 8px;
}

.item {
  height: 40px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.item a {
  text-decoration-line: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.warning-login {
  padding: 0 2rem 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.warning-text {
  color: rgba(22, 24, 35, 0.5);
  font-size: 16px;
  line-height: 21px;
}

.btn-login {
  width: 100%;
  border: 1px solid red;
  color: red;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.connect {
  margin-bottom: 8px;
}

.container-footer {
  padding: 0 2rem;
}

.item-connect {
  margin: 5px 5px 0 0;
  text-decoration: none;
  color: rgba(22, 24, 35, 0.5);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
}
