* {
  margin: 0;
  padding: 0;
}

// header - wrapper
.header {
  --search-top-spacer: 7px;
  --search-form-height: 100%;
  --search-btn-with: 15%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--white);
  height: var(--default-layout-header-height);
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  padding: 0 20px;
}

.container-header {
  height: 100%;
  width: var(--default-layout-with);
  padding: var(--default-layout-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Logo tiktok
.logo {
  fill: currentColor;
}

.logo-tiktok {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

// User - account
.acc {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  padding: 10px;
}

.cover {
  margin-left: 16px;
  position: relative;
  font-style: normal;
  font-size: 18px;
  padding: 0 4px;
  color: rgba(22, 24, 35, 1);
}

.action-btn {
  font-size: 1.9rem;
  margin-left: 16px;
  background-color: transparent;
  position: relative;
}

.sup {
  background-color: var(--primary);
  border-radius: 10px;
  height: 20px;
  position: absolute;
  left: 18px;
  top: -6px;
  font-weight: 600;
  font-size: 14px;
  min-width: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.user-avatar {
  width: 32px;
  height: 32px;
  margin-left: 24px;
  border-radius: 50%;
  object-fit: cover;
}

// .body-heart-action {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   background-color: transparent;
//   width: 65px;
//   height: 65px;
//   padding: 1px 0 0 1px;
//   border-radius: 50%;
//   // border: 5px dotted red;
//   animation: action ease-out 3s;
// }

// @keyframes action {
//   from {
//     opacity: 0;
//     transform: scale(20%);
//     border: 2px dotted red;
//   }
//   to {
//     opacity: 1;
//     transform: scale(100%);
//     transform: rotate(54deg);
//     border: 5px dotted red;
//   }
// }
