* {
  margin: 0;
  padding: 0;
}

.header {
  height: var(--default-layout-header-height);
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  height: 100%;
  width: var(--default-layout-with);
  display: flex;
  align-items: center;
}

.logo-tiktok {
  width: 33.3333333%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 30%;
}

.search {
  width: 33.3333333%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.form-search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding: 10px;
}

.search-input {
  width: var(--default-layout-with, 80%);
  height: 100%;
  border: none;
  background: #f1f1f2;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.search-input:focus-visible {
}

.search-btn {
  width: 20%;
  border: none;
  height: 100%;
}

.acc {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 33.3333333%;
  height: 100%;
  padding: 10px;
}

.upload {
  height: 100%;
  width: 28%;
}

.btn-upload {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  font-size: 1.5rem;
}

.login {
  height: 100%;
  width: 28%;
  margin-left: 15px;
}

.btn-login {
  height: 100%;
  width: 100%;
  background-color: red;
  color: white;
  border-radius: 5%;
  border: none;
  font-size: 1.5rem;
}

.cover {
  height: 100%;
  width: 8%;
  text-align: center;
  margin-left: 15px;
}

.btn-cover {
  height: 100%;
  width: 100%;
  width: auto;
  border: none;
  background-color: white;
  font-size: 1.5rem;
}
